<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
</head>
<body>
    <% if (userposts.length === 0) { %>
        <p>No posts have been posted</p>
   <% } %> 

  <form method="GET" action="/history">
   <label for="status">Filter by Status:</label>
    <select name="status">
      <option value="">All</option>
      <option value="active" <%= (typeof status !== 'undefined' && status === 'active') ? 'selected' : '' %>>Active</option>
      <option value="sold" <%= (typeof status !== 'undefined' && status === 'sold') ? 'selected' : '' %>>Sold</option>
    </select>
    <button type="submit">Filter</button>
  </form>
<br>

  <div class="posts">
  <% userposts.forEach(post => { %>
    <div class="post">
      <h2><%= post.name %></h2>
      <br>
      <img src="/<%= post.imgpath %>">
      <h2><%= post.username %></h2>
      <p><%= post.description %></p>

      <% if (post.status === 'active') { %>
        <form method="POST" action="/mark_sold/<%= post._id %>" onsubmit="return confirm('Mark this post as sold?');">
          <p style="color: rgb(78, 130, 1);"><strong>Active</strong></p>
          <button type="submit" class="sold">Mark As Sold</button>

        </form>
      <% } else { %>
        <p style="color: red;"><strong>Sold</strong></p>
      <% } %>

    </div>
  <% }); %>
</div>

 <style>
  .posts {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;

  gap: 20px;
  padding: 20px;
}

.post {
  width:500px;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  text-align: center;
  background-color: #f9f9f9;
}

.post img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.post h2 {
  font-size: 18px;
  margin: 8px 0;
}

.post p {
  font-size: 14px;
  color: #444;
}

 </style>
</body>

</html>